@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(300deg, #2c3e50, #4d4d4d); /* Dark linear gradient background */
    color: #fff; /* Text color */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
input {
    padding: 1rem;
    border-radius: 25px;
    border: none;
    background-color: #fff;
    font-family: inherit;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    min-width: 300px;
    font-size: 1rem;
    color: #000; /* Input text color */
}
input:focus {
    outline: none;
}
.weather {
    text-align: center;
    font-size: 2rem;
    color: #fff; /* Weather text color */
}
.weather h2 {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
